footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(205, 205, 205);
}
.footer-bloc3 > p{
     display: flex;
     gap: 1rem;
}