 .overlay{
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0, .6);
    backdrop-filter: blur(6px);
}
.container{
       display: flex;
       align-content: center;
       justify-content: center;
}

#f1{
    visibility: hidden;
}
#f1,#f2{
     position: absolute;
      width: 500px;
      top: 0;
      margin: 8%;
      display: flex;
      flex-direction: column;
      border-radius: 6px; 
      padding: 6px;
      z-index: 1000;
      background-image: linear-gradient(rgba(0,0,0,.5));
}
#f2{
     margin-top: 14%;
     visibility: visible;
}
label{
     font-size: 16px;
     color: white;
     font-weight: 800;
     margin-bottom: .5rem;
}
input{
      padding:8px;
      border: 2px solid rgb(252, 252, 252);
      border-radius: 6px;
      font-size: 16px;
}
.nav-validate{
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
}
.nav-validate > input{
        margin-bottom: 1rem;
        background-color: white;
        border: none;
        font-size: 12px;
}