 *{
       list-style: none;
       text-decoration: none;
 }
body{
     padding: 0;
     margin: 0; 
     display:block;
}
.nav-bare{
       top: 0;
       right: 0;
       display: block;
       width: 100%;
}
.nav-haut{
    margin-top: 1rem;
    display: flex;
     justify-content:space-around;
     align-content: center;
}
.logo>a>img{
      box-sizing: border-box;
       width:60px;
       object-fit: cover;
}
.panier{
     display: flex;
      align-content: center;
      justify-content: center;
      gap:2rem;
      padding-top: 12px;
}
.panier >a{
       color: rgb(66, 64, 64);
}
.nav-bas{
        background-image:url(../img/chaussure1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
}
.nav-list{
     display:flex;
     flex-direction:row;
     align-content: center;
     justify-content: center;
      gap: 2rem;
      padding: 8px 6px;
      background-color: black ;
}
 .nav-list >li>a {
      color:white;
 }
