.menu{
         position:relative;
         margin:12px  12%;
         visibility: visible;
}
.c1{
     position: relative;
     display:flex;
     justify-content: center;
     align-content: center;
     width:100%;
     gap: 1rem;
     height: 380px;
     flex-direction: row;
}
.item{
         width: 100%;
         height: 350px;
         background-repeat: no-repeat;
         background-size : cover; 
         opacity: .7;
}
.i1{
         background-image:url(../img/chauss0.jpg) ;
       
}
.i2{
         background-image: url(../img/chauss7.jpg);
}

.c2{
         position: relative;
         margin-top: 3rem;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         width: 100%;
         justify-content: flex-start;
         gap: 3rem;
         
}
.bloc{
         background-color: white;
         border-radius: 1rem;
         box-shadow:1px 5px 6px 1px rgb(214, 213, 213);
         display:block;
         width: 200px;
         height: 200px;
         cursor: pointer;
}

.txt{
         position: relative;
         float: right;
         padding: 6px;
}
span{
        float: right;
       color: orange;
}
.img-produit{
        margin-bottom: 2rem;
}
.img-produit > img{
         width: 60%;
         height: 100%;
         object-fit:cover;
         padding-left:2rem;   
}

.individual{
         visibility: visible;
         width: 100%;
          display: flex;
          flex-direction: row;
         gap: 4rem;
}
.produit{
        grid-area: "produit";
          display: flex;
          flex-direction:column; 
          gap: 2rem;
}
.produit >img{
         object-fit:scale-down;
         border:1px solid black;
         height: 500px;
         margin-top: 1rem;
}
.details{

        display: flex;
        flex-direction:column; 
        gap:4rem;
       grid-area: "details";

}
.taille1{
       padding-top: 2rem;
      display:inline;
}
.taille3{
       position:relative;
       text-align: right;
}